* {
    font-family: "Ubuntu", sans-serif;
  }
  
  body {
    background-color: #393e46;
    color: aliceblue;
  }

  .about {
    text-align: center;
    margin-top: 10%;
  }
  
  .about-row {
    background-image: linear-gradient(90deg, #05dfd7, #fa26a0);
    padding: 5px;
    margin: 1%;
    justify-content: center;
    align-items: center;
    height: 1%;
  }
  
  .about-summary {
    /* display: none; */
    font-size: 2em;
    background: #393e46;
    height: 100%;
    width: 100%;
    margin: 0%;
  }

  #about-title:hover {
    text-shadow: 2px 4px 5px #393e46;
    cursor: pointer;
    font-size: 76px;
  }
  
  #about-title {
    font-size: 72px;
    background: -webkit-linear-gradient(#05dfd7, #fa26a0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }